.skills {
  &_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    height: 550px;
    &_title{
      font-family: var(--m700);
      font-size: 40px;
      color: #fff;
      letter-spacing: 3px;
    }
    .skills_mini_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 80px;
      // border: 2px #fff inset ;
      // border-radius: 10px;
      padding: 10px;
      &_img {
        width: 350px;
        height: 350px;
        border-radius: 15px;
      }
      &_text {
        max-width: 80%;
        font-family: var(--i700);
        color: #fff;
        opacity: 0;
        animation: fadeIn 4s ease-in forwards;

        @keyframes fadeIn {
          to {
            opacity: 1;
          }
        }
      }
    }
  }
}
