.nav {
  position: sticky;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 30px 15px;
  padding-bottom: 50px;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #111827;
  border-bottom: 1px solid #111827; 
  &_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &_logo {
      font-family: var(--c400);
      font-size: 30px;
      font-weight: 500;
      color: #00e5ff;
      letter-spacing: 3px;
      & span {
        color: #fff;
        transition: 0.5s;
        &:hover {
          color: #00e5ff;
        }
      }
    }
    &_list {
      display: flex;
      gap: 50px;
      &_link {
        color: #fff;
        font-family: var(--c400);
        font-size: 25px;
        transition: 0.5s;
        &.active {
          color: rgb(0, 183, 255);
        }
      }
    }
  }
}
