@font-face {
    font-family: "Caprasimo-Regular";
    src: url("/src/assets/fonts/Caprasimo-Regular.ttf");
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: "Inter_18pt-Bold";
    src: url("/src/assets/fonts/Inter_18pt-Bold.ttf");
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: "Inter_18pt-Medium";
    src: url("/src/assets/fonts/Inter_18pt-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Inter_18pt-Regular";
    src: url("/src/assets/fonts/Inter_18pt-Regular.ttf");
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("/src/assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("/src/assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("/src/assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
